@model AspNetMvc.UI.Models.Security.UserViewModel

@{
    ViewBag.Title = "Usuario";
}

@using (Html.BeginForm("Create", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new
{
    @class = "form-horizontal",
    role = "form"
}))
{
    @Html.HiddenFor(model => model.User.UsuarioId, new { @Id = "UsuarioId" })
    @Html.HiddenFor(model => model.User.Nome, new { @Id = "Nome" })
    @Html.HiddenFor(model => model.User.Apelido, new { @Id = "Apelido" })
    @Html.HiddenFor(model => model.User.Email, new { @Id = "Email" })
    @Html.HiddenFor(model => model.User.Login, new { @Id = "Login" })
    @Html.HiddenFor(model => model.User.Senha, new { @Id = "Senha" })
    @Html.HiddenFor(model => model.PersistFields, new { @Id = "PersistFields" })

    <section>

        <h2>Cadastrar Novo Usuário</h2>

        @Html.Partial("Shared", Model)
        
        <div class="row form-group">
            <br />
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary" onclick="beforeSubmit()">
                    <span class="glyphicon glyphicon-floppy-saved"></span> Salvar
                </button>
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "User")'">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span> Voltar
                </button>
            </div>
        </div>

    </section>
}

@section Scripts {
    <script type="text/javascript">

        /*
        ** Inicializa toda a página parcial ou view Hotel.
        */
        $(document).ready(function () {

            $persistFields = $("#PersistFields");
            if ($persistFields != null && $persistFields != undefined) {
                if ($persistFields.val())
                    alert('ok');
            }

            let $nome = $("#viewNome");
            if ($nome != null && $nome != undefined) {
                $nome.focus();
            }

        });

        var beforeSubmit = function () {

            let isValid = true;
            let message = '';

            let $usuarioId = $("viewUsuarioId");
            if ($usuarioId != null && $usuarioId != undefined) {
                $("#UsuarioId").val($usuarioId.val());
            }

            let $nome = $("#viewNome");
            if ($nome != null && $nome != undefined) {
                $("#Nome").val($nome.val());
            }

            let $apelido = $("#viewApelido");
            if ($apelido != null && $apelido != undefined) {
                $("#Apelido").val($apelido.val());
            }

            let $email = $("#viewEmail");
            if ($email != null && $email != undefined) {
                $("#Email").val($email.val());
            }

            let $login = $("#viewLogin");
            if ($login != null && $login != undefined) {
                $("#Login").val($login.val());
            }

            let $senha = $("#viewSenha");
            if ($senha != null && $senha != undefined) {
                $("#Senha").val($senha.val());
            }
        }

        var afterSubmit = function () {
        }

    </script>
}